@model IEnumerable<Polyclinic.Web.Models.DoctorViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorFullName)
            </th>
            <th>
                Total Number of Visits
            </th>
            <th>
                Total Number of Patients
            </th>
            <th>
                Total Earned Money
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorFullName)
                </td>
                <td>
                    @item.Visits.Count
                </td>
                <td>
                    @item.Patients.Count
                </td>
                <td>
                    @item.Visits.Sum(x => x.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

