@model IEnumerable<Polyclinic.Web.Models.VisitViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between mb-2">
    <h1>All Visits</h1>
    <div class="mt-2">
        <a asp-action="CreateVisit" asp-controller="Home" class="btn btn-primary">Create New Visit</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.PatientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.DoctorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.PatientFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.DoctorFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateVisit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <div class="d-flex justify-content-end px-3">
                        @Html.ActionLink("Edit", "EditVisit", new { id = item.VisitId }, new { @class = "btn btn-outline-primary btn-sm" }) 
                        @Html.ActionLink("Details", "DetailsVisit", new { id = item.VisitId }, new { @class = "btn btn-outline-secondary btn-sm ml-3" }) 
                        @Html.ActionLink("Delete", "DeleteVisit", new { id = item.VisitId }, new { @class = "btn btn-outline-danger btn-sm ml-3" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


